.persona__imagen{
   border-radius: 50%;
   height: 250px;
   width: auto;

   }
   .persona__imagen--roberta{
    background: url("../../img/personas/roberta.jpg") no-repeat center / cover;
   }
   .persona__imagen--marcela{
    background: url("../../img/personas/marcela.jpg") no-repeat center / cover;
   }
   .persona__imagen--andrea{
    background: url("../../img/personas/andrea.jpg") no-repeat center / cover;
   }

      @media screen and (max-width:768) {
         .persona__imagen{
      
         }
      }
   