.quienes-somos__descripcion{
    color:#595959;
    font-weight: 150;
    font-size: 1.3rem;
    text-align: center;
    width: 70%;
    margin:.2rem 1rem 1rem 8rem;
}
@media screen and (max-width: 768px){
    .quienes-somos__descripcion{
        margin:0rem 0rem 1rem 7rem;
     font-size:1.3rem ;
    } 
 }