.receta{
    background: hwb(0 99% 1%);
    display:inline-flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 2.9rem;
    width: calc(25% - 2rem);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.75);
}
@media screen and (max-width: 768px){
    .receta{
        width:auto;
       margin: 3rem 7rem 2rem 0;
       
        
        }
    }
